body{
    background-color: blue;
    color: blueviolet;
    text-align: center;
    margin: 0;
}

main{
    background-color: aqua;
    padding: 30px;
}

.cabeçalho{
    background-color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: crimson;
    padding: 20px;
    font-size: 24px;
    text-decoration: none;

}